@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;208;300;400;500; 600;700; 800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html{
    zoom: 0.8;
}


.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* navbar */

#header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    flex-direction: row;
    position: sticky;
    padding: 8px 80px;
}

#header2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
    background-color: white;
}

#navbar,
#navbar2{
    display: flex;
}

#navbar li,
#navbar2 li,
.carouselgombtext{
    list-style: none;
    padding: 0 20px;
    padding-top: 15px;
}

#navbar li a,
#navbar2 li a,
.offcanvas-body li a,
.navbarregbejgombok,
.carouselgombtext,
.ferfigorgmenu,
.cardslinkek,
.dropdown-item{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

#navbar li a:hover,
#navbar2 li a:hover,
.navbarregbejgombok:hover,
.offcanvas-body li a:hover,
.ferfigorgmenu a:hover,
.dropdown-item:hover{
    color: grey;
    background-color:transparent
}


.container-fluid{
    display: none; 
    align-items: center;
}

.offcanvas,
.offcanvas-backdrop{
    display: none;   
}

ul{
    padding-left: 0rem;
}


@media (max-width:799px) {
    #header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    #navbar li,
    #navbar2 li{
    list-style: none;
    padding: 0 10px;
    padding-top: 15px;
    }
    
    #navbar {
        display: none;
    }

    .container-fluid{
        display: contents;
        align-items: center;
    }

    .offcanvas,
    .offcanvas-backdrop{
        display:block;
    }

}

.offcanvas-body li{
    margin-bottom: 40px;
    list-style: none;
}

/* navbar vége */

/* card stílusok */

.indexferficards .card {
    border: none;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.02);
    border: 1px solid black;
    transition: 0.3s;
    background-color: white;
}

.indexferficards .card:hover{
    border: 1px solid black;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.06);
    color: white;
    background-color: black;
    transition: 0.3s;
}

.indexferficards  .card-img-top {
    object-fit: cover;
}

.indexferficards .card-text-box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indexferficards{
    padding-bottom: 50px;
}

/* card stílusok vége */

/* index carousel */

#carouselresz .carousel-item {
    height: 900px;
    position: relative;
}
#carouselresz .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#carouselresz .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
#carouselresz .carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
}
#carouselresz .carousel-caption h6 {
    color: whitesmoke;
    margin-bottom: 10px;
}
#carouselresz .carousel-caption h2 {
    color: white;
    margin-bottom: 20px;
}
#carouselresz .carousel-caption .btn {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

#carouselresz .carousel-caption .btn:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
}

#carouselresz{
    border-bottom: 2px solid black;
}
/* index carousel vége */

/* férfi, női banner */
#ferfibanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("manbanner.webp");
    width: 100%;
    height: 900px;
    background-size: cover;
    background-position: center;
}

#ferfibanner h4,
#noibanner h4{
    color: white;
    font-size: 16px;
}

#ferfibanner h2,
#noibanner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
    font-weight: 1000;
}


#noibanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("womanbanner.jpg");
    width: 100%;
    height: 900px;
    background-size: cover;
    background-position: center;
}

/* férfi,női banner vége */

/* ferfi scroll menu */

.ferfigorgmenu {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    text-align:center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
}
  
.ferfigorgmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px;
    margin: 10px;
    text-decoration: none;
}

/* ferfi scroll menu vége*/

/* ferfi női termeket/produktok */

#product1{
    text-align: center;
}

#ferfiujtermekekindex{
    text-align: left;
}

#noiujtermekekindex{
    text-align: right;
}

#ferfitermekcards {
    padding-bottom: 50px;
}

#ferfitermekcards .card {
    border: none;
    margin-bottom: 40px;
  /*box-shadow: 1px 1px 3px rgba(0,0,0,0.12), 1px 1px 2px rgba(0,0,0,0.24);*/
  /*border: 1px solid rgb(241, 241, 241);*/
    border: 1px solid white;
    transition: 0.3s;
}

#ferfitermekcards .card:hover {
    border: 1px solid black;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.06);
    color: black;
}

#ferfitermekcards .card:hover .btn-dark {
    background-color: black;
    border-color: black;
    color: white;
    transition: 0.3s;
}

#ferfitermekcards .card-img-top {
    object-fit: cover;
}

#ferfitermekcards .card-text-box {
    height: 60px;
/*    border: 1px solid rgb(241, 241, 241); */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#ferfitermekcards .carousel-item{
    height: 100%; 
    object-fit: cover;
}

/*#ferfitermekcards .carousel-inner{
    height: 360px;
} */

#ferfitermekcards .termeknev{
    font-weight: 500;
}

#ferfitermekcards .termekar{
    font-weight: 900;
}

#ferfitermekcards .btn-dark {
    --bs-btn-bg: white;
    --bs-btn-border-color: white;
}

#ferfitermekcards .card:hover .carousel-control-next-icon{
    background-color: black;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

#ferfitermekcards .card:hover .carousel-control-prev-icon{
    background-color: black;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

#ferfitermekcards .carousel-control-next-icon,
#ferfitermekcards .carousel-control-prev-icon {
    display: none;
}

#ferfitermekcards .card:hover .carousel-control-next-icon,
#ferfitermekcards .card:hover .carousel-control-prev-icon {
    display:block;
    width: 100%;
    filter: invert(1);
    height: 40px;
}
/* ferfi női termeket/produktok vége */

/* termekpage */

#termekpage{
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(clothingbackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
}

#termekpage .thumbnail {
    cursor: pointer;
}

.productermekkepadat{
    border: 1px solid rgb(174, 174, 174);
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}

#productpageadatok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 30px;
}
#productpageadatok .form-group {
    margin-bottom: 15px;
}

#termekpage .carousel-item img {
    object-fit: cover;
    object-position: center;
} 

/* termekpage vége */ 


/* footer */

footer p,
.footerlinkek{
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
}

footer h5{
    font-weight: 600;
    color: white;
}

/* footer vége */

/* regiszt,bejel */
/* bejelentkezes */


#bejelentkezes input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 30px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
}

#bejelentkezes .bejengomb {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0px;
    border: 1px solid rgb(0, 0, 0);
}

#bejelentkezes .fobejszoveg {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

#bejelentkezes .bejenlinktoregiszt {
    color: black;
    text-decoration: none;
}

#bejelentkezes .bejenlinktoregiszt:hover {
    text-decoration: underline;
}

#bejelentkezes .bejencontainer {
    padding: 16px;
}

/*#bejelentkezes .login-section {
    margin-top: 90px;
    margin-bottom: 90px;
    
}*/

#bejelentkezes .modal-body {
    padding: 0;
}

#bejelentkezes .btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
}

#bejelentkezes .modalbejbackground-content {
    background-color: white;
    border: 1px solid rgb(85, 85, 85);
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-radius: 0px;
    max-width: 100%;
}

/*@media screen and (max-width: 800px) {
    #bejelentkezes .modalbejbackground-content {
      width: 90%;
    }
}*/

#bejelentkezes .regisztgomb {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#bejelentkezes .bejengomb:hover {
    color: black;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.4s;
}

.btn-close {
    --bs-btn-close-focus-shadow: transparent;
}
/*bejelentkezes vége */
/* regiszt */

#Regisztracio input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 30px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
}

#Regisztracio .bejengomb {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0px;
    border: 1px solid rgb(0, 0, 0);
}

#Regisztracio .fobejszoveg {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

#Regisztracio .bejenlinktoregiszt {
    color: black;
    text-decoration: none;
}

#Regisztracio .bejenlinktoregiszt:hover {
    text-decoration: underline;
}

#Regisztracio .bejencontainer {
    padding: 16px;
}

#Regisztracio .login-section {
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(clothingbackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Regisztracio .modalbejbackground-content {
    background-color: white;
    border: 1px solid rgb(85, 85, 85);
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-radius: 0px;
}

@media screen and (max-width: 800px) {
    #Regisztracio .modalbejbackground-content {
      width: 90%;
    }
}

#Regisztracio .regisztgomb {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#Regisztracio .bejengomb:hover {
    color: black;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.4s;
}

/* regiszt vége */

.modal-backdrop {
    width: 100%;
    height: 100%;
}

.offcanvas-backdrop {
    width: 100%;
    height: 100%;

}

#cartpart {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#cartpart .cart-section {
    flex-grow: 1;
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(clothingbackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*.cartbigbox{
    height: 500px;
}*/