@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;208;300;400;500; 600;700; 800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* navbar */

#header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    /*lehet nem jó csak próba hogy a menu icon bemennyen középre */ flex-direction: column;
}

#header2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
    background-color: white;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3 ease;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3 ease;
}

#navbar li a:hover{
    color: grey;
    background-color:transparent
}


.container-fluid{
    display: none; 
    align-items: center;
}

.offcanvas,
.offcanvas-backdrop{
    display: none;   
}


@media (max-width:799px) {
    #navbar {
        display: none;
    }

    .container-fluid{
        display: contents;
        align-items: center;
    }

    .offcanvas,
    .offcanvas-backdrop{
        display:block;
    }

}

.offcanvas-body li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3 ease;
}

.offcanvas-body li{
    margin-bottom: 40px;
    list-style: none;
}

.offcanvas-body li a:hover,
.offcanvas-body li a.active {
    color: grey;
    background-color:transparent;
}

footer p,
.footerlinkek{
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
}

footer h5{
    font-weight: 600;
    color: white;
}

/* banner */

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("usedkepek/banner.PNG");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
    font-weight: 1000;
}

#ferfibanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("usedkepek/manbanner1.PNG");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#ferfibanner h4{
    color: #fff;
    font-size: 16px;
}

#ferfibanner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
    font-weight: 1000;
}

/*button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    border: 1px solid white;
}

#banner button:hover{
    background-color: black;
    color: #fff;
}
*/

.indexbannerqoute{
    font-style: italic;
}
/* ferfi scroll menu */

.ferfigorgmenu {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    text-align:center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
  
.ferfigorgmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px;
    margin: 10px;
    text-decoration: none;
}
  
.ferfigorgmenu a:hover {
    color: grey;;
}

/* ferfiindextermekcardok */
#ferfitermekcardok{
    border-top: 2px solid black;
}

.card {
    margin-bottom: 20px;
    border: 2px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.020);
    cursor: pointer;
    transition: 0.5s;
}

.card:hover{
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.226); 
}


.card-img-top {
    object-fit: cover;
    height: 400px;
}

.card-text-box {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text-box a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

/* ferfi termeket/produktok */

#product1{
    text-align: center;
}

/* bejelentkezes */

input[type=text], input[type=password] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
}
          
.bejengomb {
                background-color: black;
                color: white;
                padding: 10px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
}

.megsegomb{
                background-color: rgb(231, 231, 231);
                color: rgb(0, 0, 0);
                padding: 10px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;

}
          
.bejengomb:hover {
                opacity: 0.8;
}
          
.fobejszoveg {
                text-align: center;
                margin: 24px 0 12px 0;
                position: relative;
}
          
.bejenlinktoregiszt {
                color: black;
                text-decoration: none;
}
          
.bejenlinktoregiszt:hover {
                text-decoration: underline;
}
          
.bejencontainer {
                padding: 16px;
}
          
.login-section {
                margin-top: 90px;
                margin-bottom: 90px;
}
          
              
.modalbejbackground-content {
                background-color: #faf9f8;
                border: 1px solid black;
                padding: 20px;
                margin: 0 auto;
                max-width: 600px;
}
          
@media screen and (max-width: 800px) {
.modalbejbackground-content {
                  width: 90%;
                }
}

.regisztgomb {
                background-color: black;
                color: white;
                padding: 10px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
}
